@charset "UTF-8";

body {
    background-color: rgb(137, 137, 240);
    font: normal 1.5em arial;
}

header {
    color: white;
    text-align: center;
}

section {
    margin: auto;    
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.434);
}

div {
    text-align: center;
    padding: 5px;
}



footer {
    color: white;
    text-align: center;
    font-style: italic;
}